.hidden {
    display: none;
}


.profile-button {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75px;
    height: 40px;
    padding: 5px 5px 5px 12px;
    font-size: 25px;
}

.profile-dropdown {
    position: fixed;
    top: 40px;
    right: 0;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.profile-dropdown li {
    padding: 10px;
}
